.container-fluid
  .content.well
    .row
      .span12
        .row
          .span1 
            %h3 Klausul
          .span3
            %h3 Uraian
          .span1 0
          .span1 1
          .span1 2
          .span1 3
          .span1 4
          .span1
            %h3 Keterangan
        - standard.clauses.each do |clause|
          = render :partial => "admin/standards/clause", locals: {clause: clause}